*{
    margin: 0 auto;
}

    /***** top navbar******/
.nav{
    float: left;
}
.top-nav{
    width: 20%;
    height: 100%;
    background: rgb(86,61,124);
    position: fixed;
    top: 0;
    left: 0;
}
.top-nav:after{
    content: "";
    display: block;
    clear: both;
}

.top-nav ul li{
    color: #dce0e8;
    padding: 20px;
    margin: auto 0;
    padding: 10px 10px;
    text-transform: capitalize;

}

.top-nav ul li a{
    color: #dce0e8;
    text-decoration: none;
    text-align: left;
    margin-left: 0px;
}
.logo{
    width: 20px;
    height: 20px;
}

.sub-menu{
    display: none;
}

.menubar ul li:hover .sub-menu{
    display: block;
    position: absolute;
    margin-top: 15px;
    background: rgb(255,255,255);
    text-decoration: none;
    margin-left: -20px;
    text-align: left;
}


.menubar ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
    list-style-type: none;
}

.menubar ul li:hover .sub-menu ul li{
    width: 200px;
    padding: 10px;
    border-bottom: solid 1px #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    margin-left: -25px;
}
.menubar ul li:hover .sub-menu ul li a{
    color: #000;
}



/*****top-nav ends here *********/
.whole-wrapper{
    display: flex;
    position: relative;
}
div.wrapper{
    margin-left: 21%;
}

.section-1{
    margin-bottom: 300px;
}

.section-2{
    margin-bottom: 300px;
}

.section-3{
    margin-bottom: 300px;
}

.section-4{
    margin-bottom: 300px;
}

.section-5{
    margin-bottom: 300px;
}

.section-6{
    margin-bottom: 300px;
}
.background-color{
    background-color: #F8F9FA;
}

.demopic{
    width: 280px;
    height: 400px;
}